.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
        margin: 5cap;
        width: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .hero img {
        width: 250px;
    }
}