.project-container {
    position: relative;
    background: var(--yellow);
    box-shadow: 0 .5rem .8rem gray;
    width: 300px;
    height: 100%;
    padding: 30px 20px;
    margin: 15px;

    h1 {
        border-left: 5px solid black;
        padding-left: 10px;
        border-radius: 7px;
    }

    .pin-icon {
        position: absolute;
        top: 3%;
        right: 50%;
        font-size: 1.2rem;
        transform: rotate(-40deg);
    }

    ul {
        max-width: 100%;
    }

    img {
        background: green;
        padding: 3px;
        border-radius: 50%;
        margin-left: 10px;
        width: 35px;
    }

    p {
        font-size: .9rem;
        color: #4f4f4f;
        margin: 10px;
    }

    span {
        font-size: .9rem;
        color: #4f4f4f;;
    }

    .due-date {
        position: absolute;
        font-style: italic;
        bottom: 3%;
        right: 5%;
    }

    button {
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
    }

    .icons-container {
        position: absolute;
        top: 5%;
        right: 5%;

        & button {
            border: none;
            border-radius: 5px;
            width: 30px;
            padding: 5px;
            margin: 10px;
            cursor: pointer; 
            transition: background .3s;
        }

        button:hover {
            background: red;
            color: #fff;
        }
    }
}

.project-container:after {
    position: absolute;
    left: 0;
    bottom: -21%;
    content: '';
    background: var(--light-background);
    width: 100%;
    height: 40px;
    border-radius: 40%;
    z-index: 2;
}

.project-container.active {
    animation: growUp .2s;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 50px;
    height: 100%;
    width: 100%;
    padding: 20px;
}



@keyframes growUp {
    0% {
        transform: scale(.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .project-wrapper {
        justify-items: center;
    }
}