.project-container {
    border: 1px solid black;
    width: 350px;
    padding: 30px 20px;
    margin: 15px;
}

.project-container.active {
    animation: scaleUp .2s;
}

.project-wrapper {
    grid-column: 2 / -1;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}